section {
    padding: 25px;
    background-color: #f0f0f0;
    border: 1px #d0d0d0 solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

section > div {
    width: 100%;
}

img {
    max-width: 30%;
    object-fit: contain;
}

@media screen and (max-width: 450px) {
  section {
    flex-direction: column-reverse;
    gap: 30px;
  }

  img {
    max-width: 100%;
  }

  section > div {
    text-align: center;
  }
}
