section {
    padding: 25px;
    background-color: #f0f0f0;
    border: 1px #d0d0d0 solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

section > div {
    width: 100%;
}

h2 {
  margin-bottom: 10px;
}

img {
    max-width: 30%;
    object-fit: contain;
}

#skel > * {
  border-radius: 10px;
  animation: skel 2s infinite;
  color: transparent;
}

@keyframes skel {
  0% {background-color: #d9d9d9}
  50% {background-color: #a0a0a0}
  100% {background-color: #d9d9d9}
}

@media screen and (max-width: 450px) {
  section {
    flex-direction: column-reverse;
    gap: 30px;
  }

  img {
    max-width: 100%;
  }

  section > div {
    text-align: center;
  }
}
