<main>
    <div>
        <div id="empty-basket">
            <img src="no_items.svg">
            <h3>Az Ön kosara jelenleg üres.</h3>
        </div>
    </div>
    <div id="price-details">
        <div id="basket-sum">
            <h3>Kosár összértéke</h3>
            <h4>0 Ft</h4>
        </div>
        <div id="coupons">
            <p>Nincsenek kuponok.</p>
        </div>
        <div id="price-actions">
            <button mat-flat-button>Tovább a fizetéshez</button>
        </div>
    </div>
    
</main>