<main>
    <div>
      @if (basketService.itemCount != 0) {
        <div class="headbar">
          <h2>Kosárban lévő termékek</h2>
          <button (click)="clearAll()" mat-button>Összes törlése</button>
        </div>
        <app-basket-item (deleteEvent)="updateList()" *ngFor="let i of this.basket" [item]="i"></app-basket-item>
      } @else {
        <div id="empty-basket">
            <img src="no_items.svg">
            <h3>Az Ön kosara jelenleg üres.</h3>
        </div>
      }
    </div>
    <div id="price-details">
        <div id="basket-sum">
            <h3>Végösszeg</h3>
            <h4>{{this.basketService.price | pricePipe}}</h4>
        </div>
      <!--
        <div id="coupons">
            <p>Nincsenek kuponok.</p>
        </div>-->
      @if (basketService.itemCount != 0) {
        <div id="price-actions">
            <button mat-flat-button (click)="this.router.navigateByUrl('/placeOrder')">Tovább a fizetéshez</button>
        </div>
      }
    </div>

</main>
