div {
  width: 100%;
  border-radius: 10px;
  border: 1px #e9e9e9 solid;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  width: 50%;
  padding: 5px;
}

table tr:nth-child(even) {
  background-color: #00000010;
}
