
.orderCard {
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.orderCard > div:first-child {
  width: 100%;
}

.orderCardHead {
  display: flex;
  align-items: center;
  gap: 10px;
}

.orderDate {
  font-weight: bold;
}

.orderPrice {
  color: var(--brand-dark);
  font-weight: bold;
}
