<div id="navbar">
    <button mat-icon-button matTooltip="Menü megnyitása">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="logo-light.png" id="logo">
    <div id="searchbox">
        <input placeholder="Írj ide a kereséshez">
        <button mat-icon-button matTooltip="Keresés indítása">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <button mat-icon-button matTooltip="Kedvenceim">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Kosár" (click)="goToPage('basket')">
        <mat-icon>shopping_basket</mat-icon>
        <p class="basket_badge">0</p>
    </button>
    <button mat-icon-button matTooltip="Fiók">
        <mat-icon>person</mat-icon>
    </button>
</div>