@use '@angular/material' as mat;

.pager {
    @include mat.fab-overrides((
        container-color: var(--brand)
    ));
}

section {
    position: relative;
    margin-top: 25px;
}

section > .scroller {
    display: flex;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 15px 0;
}

section > .scroller > * {
    width: calc(25% - 12px);
    height: 325px;
    flex-shrink: 0;
}

header {
  display: flex;
  align-items: center;
}

.pager-holder {
  margin-left: auto;
  display: flex;
}

.skel {
  animation: 1.5s skeleton infinite;
  border-radius: 15px;
}

@keyframes skeleton {
  0% {background-color: #f0f0f0}
  50% {background-color: #fefefe}
  100% {background-color: #f0f0f0}
}

@media screen and (max-width: 900px) {
  section > .scroller > * {
    width: calc(33% - 12px);
  }
}

@media screen and (max-width: 700px) {
  section > .scroller > * {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 500px) {

  section > .scroller {
    overflow-x: scroll;
  }

  section > .scroller > * {
    width: 250px;
  }
}
