<div id="nav-main" #navMain (window:resize)="onResize($event)">
  <div id="navbar">
    @if (isWindowSmall()) {
      <button mat-icon-button matTooltip="Menü" (click)="onSidenavOpenRequest.emit(0)">
        <mat-icon>menu</mat-icon>
      </button>
      <button class="right" mat-icon-button matTooltip="Keresés" (click)="goToPage('search')">
        <mat-icon>search</mat-icon>
      </button>
    } @else {
      <img src="logo-light.png" id="logo" (click)="goToPage('')">
      <div id="searchbox">
        <input placeholder="Írj ide a kereséshez">
        <button mat-icon-button matTooltip="Keresés indítása">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    }
    <button mat-icon-button matTooltip="Kosár" (click)="goToPage('basket')">
      <mat-icon>shopping_basket</mat-icon>
      <p class="basket_badge">{{this.basketService.itemCount}}</p>
    </button>
    <button mat-icon-button matTooltip="Fiók" (click)="goToUser()">
      <mat-icon>person</mat-icon>
    </button>
  </div>
  @if (!isWindowSmall()) {
    <div id="desktop-topbar">
      <button mat-button (click)="onSidenavOpenRequest.emit(0)">
        <mat-icon>menu</mat-icon>
        <p>Összes termékkategória</p>
      </button>
      <button mat-button matTooltip="Menü megnyitása" class="right" (click)="goToPage('myFavorites')">
        <mat-icon>favorite</mat-icon>
        <p>Kedvenceim</p>
      </button>
    </div>
  }
</div>
