main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  height: 64px;
  width: fit-content;
}

mat-tab-group {
  width: 400px;
  margin-top: 30px;
}

form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  overflow: hidden;
}

.error {
  margin-bottom: 20px;
  color: red;
}
