/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

:root {
    --brand: #E8CB0D;
    --brand-dark: #cab100;
    --gray: #3C3939;
    --gray2: #524d4d;

  @include mat.form-field-overrides((
    outlined-focus-outline-color: var(--brand-dark),
    outlined-focus-label-text-color: var(--brand-dark),
    outlined-caret-color: black
  ));

  @include mat.button-overrides((
    ripple-color: #E8CB0D20,
    text-label-text-color: var(--brand-dark),
    state-layer-color: #baa415
  ));
  @include mat.button-overrides((
    filled-container-color: var(--brand-dark),
    filled-ripple-color: #FFFFFF25
  ));

  @include mat.tabs-overrides((
    active-indicator-color: var(--brand-dark),
    active-focus-indicator-color: var(--brand-dark)
  ))

}

button mat-progress-spinner {
  max-width: 24px;
  max-height: 24px;
  @include mat.progress-spinner-overrides((
    active-indicator-color: white
  ))
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    background-color: white;
}

mat-sidenav-container {
  background-color: transparent!important;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: white;
}

app-placeholder {
    width: 100%;
}

.card {
  background-color: #f0f0f0;
  border-radius: 15px;
}

main > h1:not(:first-child) {
  margin-top: 20px;
}

.original-price {
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 13px;
  margin-top: 5px;
}

.headbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.headbar > *:last-child {
  margin-left: auto;
}

.product-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  gap: 10px;
  flex-flow: wrap;
}

.product-grid > * {
  min-width: 250px;
}

h1 {
  font-size: 28px;
}

.loader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.loader.center {
  justify-content: center;
}

.loader mat-progress-spinner {
  max-width: 24px;
  max-height: 24px;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}
