.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 100%;
    min-height: 150px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
}

.product-info {
    margin: 15px 0;
    text-align: center;
    height: 100%;
}

div:has(.product-info) {
  height: 100%;
}

.product-info > p:first-child {
    font-weight: bold;
}

.product-info > p:last-child {
    font-weight: 600;
    color: var(--brand-dark);
}

.product-action {
    display: flex;
    align-items: center;
    padding: 15px;
}

.product-action button {
    flex-shrink: 0;
}

.error {
  text-align: center;
  margin-top: 20px;
}

.product-discount {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: var(--brand-dark);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
